<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #2d2d86; width: 100%; justify-content: space-between; padding-right: 95px;"
>
  <a class="navbar-brand" routerLink="/">
    <h1 class="text-white ml-4 mb-0" style=" font-family:aladin; margin-left: 30px; font-size: 35px;">Events</h1>
  </a>

    <div class="dropdown">
        <button class="dropbtn">Options</button>
      <div class="dropdown-content">
          <a href="#">Profile</a>
          <a href="#">Sign Out</a>
        </div>
    </div>
</nav>